.title {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  flex: 9;
}

.mainDiv {
  display: flex;
  justify-content: space-between;
}

.voter {
  flex: 1;
}

.main p {
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}
