.title {
  text-align: center;
  flex: 3;
  margin-left: 5%;
  margin-right: 5%;
}

.mainDiv {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

.main p {
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}
