.card {
  background-color: #26203a;
  color: white;
  padding: 5%;
  margin: 2%;
}
.main {
  display: flex;
  justify-content: space-between;
}

.title {
  color: gold;
  text-decoration: none;
  flex-grow: 5;
}
.deletedCard {
  background-color: #574986;
  color: white;
  padding: 5%;
  margin: 2%;
}

.body {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  flex: 9;
}

.author {
  display: flex;
  justify-content: space-evenly;
}
