.sortBar {
  background-color: #26203a;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  margin: 2%;
}
.icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form {
  font-size: 1em;
  display: flex;
  justify-content: center;
}
.form select {
  border-radius: unset;
  border: none;
  font-size: 1em;
}

.form button {
  border: solid 1px;
  border-color: white;
  padding: 3px;
}

.form button:hover {
  color: #ffbf00;
  background-color: #0e0825;
}
