button {
  box-shadow: none;
}

.votes {
  font-family: "Courier New", Courier, monospace;
}

.voteButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.voteButtons button {
  box-shadow: none;
  border-radius: unset;
  border: none;
}
.upVoted {
  color: #ec7802;
}

.downVoted {
  color: #6284f7;
}
